<footer class="pc-nav">
    <small> Let the <a href="/contact">DARK</a> take over!</small>
</footer>

<footer id="mobile-footer">
    <div id="mobile-menu">
      <div id="mobile-footer-container">
        <nav class="mobile-link">
            {% include navigation.html navigation=site.data.navigation %}
        </nav>
      </div>
    </div>
    <div id="mobile-footer-close">
      <button id="mobile-footer-btn">
        <div class="mobile-btn-close is-rotating-back">
          <span></span>
        </div>
      </button>
    </div>
  </footer>