
<link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="/admin/preview-templates/scrpit.js"></script>
<header class="main_h">

  <div class="row">
      <a class="logo" href="/">{{ site.title | escape }}</a>
      <nav>
        {% include navigation.html navigation=site.data.navigation %}
      </nav>

  </div> <!-- / row -->

  <input id="toggle" type="checkbox">

  <!-- IMPORTANT: Any element that we want to modify when the checkbox state changes go here, being "sibling" of the checkbox element -->

  <!-- This label is tied to the checkbox, and it will contain the toggle "buttons" -->
  <label class="toggle-container" for="toggle">
      <!-- If menu is open, it will be the "X" icon, otherwise just a clickable area behind the hamburger menu icon -->
      <span class="button button-toggle"></span>
  </label>

  <!-- The nav menu -->
  <nav class="nav">
      <a class="nav-item" href="">Dashboard</a>
      <a class="nav-item" href="">History</a>
      <a class="nav-item" href="">Statistics</a>
      <a class="nav-item" href="">Settings</a>
  </nav>

  <!-- Just dummy content like in the animated gif -->
  <section class="dummy-content">
      <div class="circle"></div>
      <div class="text">
          <span></span><span></span>
      </div>
      <div class="square-top"></div>
      <div class="square-behind"></div>
  </section>

</header>


<div class="hero">
  <h1><span>Legendary</span><br>DARK</h1>

  <div class="mouse">
      <span></span>
  </div>

</div>
