
<link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="/admin/preview-templates/scrpit.js"></script>
<header class="main_h">

  <div class="row">
      <a class="logo" href="/">{{ site.title | escape }}</a>
      <nav>
        {% include navigation.html navigation=site.data.navigation %}
      </nav>

  </div> <!-- / row -->

  <span class="menu-trigger">
    <i class="menu-trigger-bar top"></i>
    <i class="menu-trigger-bar middle"></i>
    <i class="menu-trigger-bar bottom"></i>
  </span>
  <span class="close-trigger">
    <i class="close-trigger-bar left"></i>
    <i class="close-trigger-bar right"></i>
  </span>
  <div class="inner-container">
      <i class="menu-bg top"></i>
      <i class="menu-bg middle"></i>
      <i class="menu-bg bottom"></i>
    <div class="menu-container">
      <ul class="menu">
        <li>
          <a href="#">Login</a>
        </li>
        <li>
          <a href="#">Create account</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</header>

<div class="hero">
  <h1><span>Legendary</span><br>DARK</h1>

  <div class="mouse">
      <span></span>
  </div>

</div>
